    <h3>Folders</h3>
    <% if(folders.length > 0){ folders.map(folder => { %>
        <div class="folder-entry">
            <a href="/<%= folder.name %>"><%=folder.name %></a>
            <div>Created: <%=  folder.createdAt.toLocaleString() %></div>
            <div>Modified: <%= folder.updatedAt.toLocaleString() %></div>
        </div>
    <% }) %>
    <% }else{ %>
        <h4>No folders found</h4>
    <% } %>