<div class="folder-entry">
    <h3>Created By: <%=file.author.username %></h3>
    <div>Created At: <%=  file.createdAt.toLocaleString() %></div>
    <div>Modified At: <%= file.updatedAt.toLocaleString() %></div>
    <a href="../">Back</a>
</div>