<form action="/user/newFolder" method="post">
    <h4>Create new folder</h4>
    <section>
        <label for="foldername">Folder name:</label>
        <input type="text" name="foldername">
        <input type="submit">
    </section>
</form>