    <form action="/<%= fileActionPath %>" method="post" enctype="multipart/form-data">
        <h4>Upload a new file</h4>
            <label for="filename">Filename:</label>
            <input type="text" name="filename" id="filename">
            <input type="file" name="uploaded_file" id="file">
            <input type="submit">
    </form>