    <form action="/newFolder" method="post">
        <h4>Create new folder</h4>
            <label for="foldername">Folder name:</label>
            <input type="text" name="foldername" id="foldername">
            <input type="submit">
    </form>