<form action="/user/new" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
        <section>
        <label for="verify-password">Verify Password</label>
        <input id="verify-password" name="verify-password" type="password" autocomplete="verify-password" required>
    </section>
    <button>Submit</button>
</form>