<form action="/user/<%=user.id%>/upload" method="post" enctype="multipart/form-data">
    <h4>Upload a new file</h4>
    <section>
        <label for="filename">Filename:</label>
        <input type="text" name="filename">
        <input type="file" name="uploaded_file" id="file">
        <input type="submit">
    </section>
</form>
<form action="/user/newFolder" method="post">
    <h4>Create new folder</h4>
    <section>
        <label for="foldername">Folder name:</label>
        <input type="text" name="foldername">
        <input type="submit">
    </section>
</form>