<form action="/user/upload" method="post" enctype="multipart/form-data">
    <section>
        <label for="filename">Filename:</label>
        <input type="text" name="filename">
        <input type="file" name="uploaded_file" id="file">
        <input type="submit">
    </section>
</form>